html{
	height: 100%;
}
body{
	position:relative;
	height: 100%;
 	font-family: Helvetica, Arial, sans-serif;
 	font-size:14px;
 	width: 800px;
 	margin: 0 auto;
 	color: #333;
}

.header{
	height: 80px;
	line-height: 80px;
    margin-bottom: 10px;
    background-color: rgb(187, 213, 236);
}

.controls{
	float: right;
	font-size:13px;
	color:gray;
    margin-right: 20px;
}
/* css for page edit controls */
.controls + .controls{  
	margin-right:20px;
}

.controls + .controls + .controls{  
	float: left;
    margin-left:20px;
}

.gray-link{
	color:gray;
	text-decoration: none;
}
.gray-link:visited{
	color:gray;
}
.gray-link:hover{
	text-decoration: underline;
}
.error{
	color:red;
}
.main-edit{
	position:absolute;
	top:105px;
	right:0;
    bottom: 10px;
    left: 0;
}
/*room for button*/
.main-edit textarea{
	position:absolute;
	top:0;
    width: 795px;
	bottom: 30px;   
	left:0;
	right:0;
	font-size: 14px;
    height: 300px;
}
   /*save button */
 .form-footer{
 	position:absolute;
    bottom: 0px;   
	left:0;
	right:0;
    height: 30px;
 }
.main-edit button{
	font-size:18px;
}
.history-table{
	border-collapse: collapse;
}
.history-table .gray{
	background-color:#E4DEDE;
}
.history-table .date-cell{
	width: 200px;
}
.history-table .content-cell{
	padding:10px;
    
}
/*padding between view and edit links*/	
.history-table .link-cell{
	padding: 0 5px;			
}