{% extends "base.html" %}

{% block controls %}
	{% if page %}    <!--ONLY IF THE PAGE EXISTS-->
		<a class="gray-link" href="{{path}}">View</a>
        |
		<a class="gray-link" href="/_history{{path}}">History</a>
	{% endif %}
{% endblock %}

{% block content %}
<form class="main-edit" method="post">
	<textarea name="content">{{page and page.content or ""}}</textarea>
	<!--DISPLAY THE PAGE WITH THE PREVIOUS CONTENT OR WITH BLANK -->
	<div class="form-footer">
		<button type="submit">Save changes</button>
	</div>
</form>
{% endblock %}
